
device: cuda:0
model_path: /data/horse/ws/dchristi-3dseg/checkpoints/NEAPEL/model_64x64x64_bin_02/best_checkpoint.pytorch
model:
  name: UNet3D
  # number of input channels to the model
  in_channels: 1
  # number of output channels
  out_channels: 2
  # determines the order of operators in a single layer (crg - Conv3d+ReLU+GroupNorm)
  layer_order: gcr
  # initial number of feature maps
  f_maps: 32
  # number of groups in the groupnorm
  num_groups: 8
  # number of levels in the encoder/decoder path (applied only if f_maps is an int)
  num_levels: 4
  # down-pooling type for encoder branch: ["max", "avg", "conv"] 
  pool_type: conv
  # apply element-wise nn.Sigmoid after the final 1x1x1 convolution, otherwise apply nn.Softmax
  final_sigmoid: true
  # if True applies the final normalization layer (sigmoid or softmax), 
  # otherwise the networks returns the output from the final convolution layer; 
  # use False for regression problems, e.g. de-noising
  is_segmentation: true
# loss function to be used during training
predictor:
  name: 'StandardPredictor'
loaders:
  # save predictions to output_dir
  output_dir: /data/horse/ws/dchristi-3dseg/predict/NEAPEL/model_64x64x64_bin_02/best_checkpoint/
  # batch dimension; if number of GPUs is N > 1, then a batch_size of N * batch_size will automatically be taken for DataParallel
  batch_size: 8
  # mirror pad the raw data in each axis for sharper prediction near the boundaries of the volume
  mirror_padding: [16, 16, 16]
  # how many subprocesses to use for data loading
  num_workers: 6
  raw_internal_path: /volume
  # test loaders configuration
  test:
    file_paths:
      - /data/horse/ws/dchristi-3dseg/data/NEAPEL/Probe_11-4_5J_nanotom/Probe_11-4_5J_.h5
      # - /data/horse/ws/dchristi-3dseg/data/NEAPEL/#10.2_gelege_012.vol.h5
      # - /data/horse/ws/dchristi-3dseg/data/NEAPEL/#10.2_gelege_021.vol.h5
      # - /data/horse/ws/dchristi-3dseg/data/NEAPEL/#10.2_gelege_102.vol.h5
      # - /data/horse/ws/dchristi-3dseg/data/NEAPEL/#10.2_gelege_120.vol.h5
      # - /data/horse/ws/dchristi-3dseg/data/NEAPEL/#10.2_gelege_201.vol.h5
      # - /data/horse/ws/dchristi-3dseg/data/NEAPEL/#10.2_gelege_210.vol.h5
      # - /data/horse/ws/dchristi-3dseg/data/NEAPEL/#11.3_geflecht_012.vol.h5
      # - /data/horse/ws/dchristi-3dseg/data/NEAPEL/#11.3_geflecht_021.vol.h5
      # - /data/horse/ws/dchristi-3dseg/data/NEAPEL/#11.3_geflecht_102.vol.h5
      # - /data/horse/ws/dchristi-3dseg/data/NEAPEL/#11.3_geflecht_120.vol.h5
      # - /data/horse/ws/dchristi-3dseg/data/NEAPEL/#11.3_geflecht_201.vol.h5
      # - /data/horse/ws/dchristi-3dseg/data/NEAPEL/#11.3_geflecht_210.vol.h5
      # - /data/horse/ws/dchristi-3dseg/data/NEAPEL/neapel_001.vol.seg.train_1.h5
      # - /data/horse/ws/dchristi-3dseg/data/NEAPEL/neapel_001.vol.seg.train_2.h5
      # - /data/horse/ws/dchristi-3dseg/data/NEAPEL/neapel_001.vol.seg.val_0.h5
    slice_builder:
      name: SliceBuilder
      patch_shape:  [64, 128, 128]
      stride_shape: [24, 48, 48]
    transformer:
      raw:
        - name: Standardize
        - name: ToTensor
          expand_dims: true
